@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

header{
  background-color:#0D3131;
  padding: 1.5rem 0;
}

header h1 {
  color:#fff;
  text-align: center;
}

.card-builder {
  background-color: #052727;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: #fff;
}

.class-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-button {
  border: 0;
  background-color: rgb(173, 45, 45);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  font-size: 1.2rem;
  width: 30rem;
}

.form-control input, .form-control textArea, .form-control select {
  font-size: 1.0rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.form-input-select {
  font-size: 1.1rem;
}

.card-builder {
  display: grid;
  grid-template-columns: 4fr 3fr ;
}

.card-preview {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.trunfo-card {
  position: sticky;
  top: 7rem;
  height: 30rem;
  margin: 0 1rem;
  width: 18rem;
  border: 0.5rem solid #f0efef;
  border-radius: 3px;
  display: flex;
  flex-flow: wrap column;
  background-color: #236B51;
  box-shadow: 20px 20px 10px #05272783;
  z-index: 0;
  padding: 0.8rem;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.897);
  width:100%;
  height:100%;
  z-index: 1;
  border-radius:10px;
  overflow:hidden;
}

.title-card {
  font-size: 1.4rem;
  text-align: right;
  margin-right: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

.title-area {
  background-color:#0D3131;
  padding: 0.5rem 0;
}

.rare-card {
  display: block;
  text-transform: capitalize;
}

.card-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1.8rem;
}

.card-filter-title {
  font-size: 2rem;
}

.card-filter-subtitle {
  font-size:1.5rem
}

.card-filter-name {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  margin-right: 1rem;
}

.card-filter-rare {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  margin-right: 1rem;
  border-radius:0.2rem;
}

.card-filter-trunfo {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.rare-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem auto;
}

.description-area {
  background-color:#236B51;
  color: #fff;
  word-wrap: break-word;
  text-align: right;
  padding: 0.2rem 0.6rem;
  transform: translateY(-1rem) skewY(-2deg);
  min-height: 1rem;
}

.card-subtitle {
  text-align: center;
}

.attr-card {
  text-align: center;
  font-size: 1.3rem;
}

.card-image {
  height: 10rem;
  width: 100%;
}

.attr-label {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.attr-input {
  margin-left: 15px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.card-display {
  margin: 2rem 0;
}

.attr-preview {
  font-size: 1.2rem;
  margin: 0.5rem;
  text-align: right;
}

.save-card-btn {
  border: 0;
  font-size: 1.3rem;
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  cursor: pointer;
}

textArea {
  height: 4rem;
}
